@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

* {
    -webkit-font-smoothing: antialiased;
}

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: calc(10px + 0.7vmin);
    text-size-adjust: 100%;
}

html body {
    margin: 0;
}

header {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    max-width: 100vh;
    width: 92vmin;
    padding-top: 2vh;
    display: inherit;
    justify-content: center;
}

header .container .infos {
    width: 100%;
}

header .container .infos h4 {
    font-weight: 500;
    font-size: 1.8rem;
    color: #1e549f;
    margin: 0.4rem 0;
}

header .container .infos h3 {
    font-weight: 700;
    font-size: 5rem;
    background-color:#1e549f;
    color: white;
    padding: 0.1rem 1rem 0 1rem;
    margin: 0;
}

header .container .infos p {
    color: black;
    margin: 2rem 0;
    line-height: 1.8rem;
}

.comments {
    color: #1e549f;
}

nav {
    width: auto;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li a {
    border: 0.15rem solid #1e549f;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: #1e549f;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 1.5rem;
}

