@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

html body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.6s;
}

.inner {
    margin: 0 auto;
    max-width: 167.5rem;
    padding: 0.86rem 1.25rem;
}

#navbar {
    font-size: min(1.125rem, calc(4vmin));
}

#navbar :first-child {
    margin-left: 0;
}

#navbar :last-child {
    margin-right: 0;
}

.nav-button {
    display: inline-block;
    color: #1E1E1E;
    font-weight: 700;
    margin: 0 1.875em;
    padding: 0.28125em 0;
    text-decoration: none;
}

#navbar .selected {
    border-bottom: 0.125rem solid #1E1E1E;
}

#content {
    padding: 0 2.25rem;
    height: 1500px;
    line-height: 1.8rem;
}

section {
    margin-top: 3.8rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 167.5rem;
    overflow: hidden;
}

.main-image {
    position: relative;
    text-align: center;
    margin: 0;
    z-index: -1;
}

.main-image-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
    width: 100%;
    white-space: nowrap;
    font-size: 7vw;
    line-height: 18vmin;
}

@media (max-width: 768px) {
    .main-image-text {
        white-space: normal;
        font-size: 13vmin;
    }
}

.comments {
    font-style: italic;
    font-size: 0.8em;
    font-weight: 400;
    color: #6AB78E;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container p {
    text-align: left;
    width: auto;
}